.div-spinner {
    text-align: center;
    margin-top: 32px;
}
form {
    text-align: start;
    padding: 16px;
    ion-item {
        margin-top: 8px;
    }

    .error-msg {
        font-size: 13px;
        color: rgb(122, 9, 9);
    }

    .div-btn {
        margin-top: 16px;
        text-align: center;
    }
}
